ul {
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  li {
    min-width: 300px;
    background: var(--white-color);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    &.problem-card {
      flex-direction: column;
      background-color: var(--sky-blue-color);
      height: 200px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
      font-weight: 600;
      padding: 20px;
      box-sizing: border-box;
    }
    &:hover {
      box-shadow: 7px 10px 30px 0 rgba(0, 0, 0, 0.09);
    }
    &:active::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.08);

      border-radius: 10px;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    .card-footer {
      padding: 16px;
      text-align: center;
      border-radius: 0 0 10px 10px;
      h4 {
        font-weight: 600;
        font-family: "Poppins";
        margin-bottom: 8px;
        font-size: 18px;
      }
      p {
        font-size: 15px;
        font-family: "Roboto";
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  section {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media only screen and (min-width: 1000px) {
  section {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
